$emptySmall: 20px;
$emptyMiddle: 40px;
$border: 1px solid gray;

$lgTitle: 50px;
$mdTitle: 32px;

//

body {
  width: 100vw;
  height: 100vh;
  padding: $emptySmall;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: $emptySmall;

  padding: $emptySmall;
  border: $border;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $emptyMiddle;
  border: $border;
}

h1 {
  font-size: $lgTitle;
}

.gnb {
  display: flex;
  gap: 48px;

  &-sub {
    font-size: 24px;
  }
}

//

main {
  padding: $emptyMiddle;
  border: $border;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $emptySmall;
}

main > div {
  display: flex;
  flex-direction: column;
  gap: $emptySmall;
}

div > p {
  font-weight: bold;
  font-size: $mdTitle;
}

.content,
.side-bar {
  border: $border;
  padding: $emptySmall;
}

.content-text,
.side-bar-text {
  height: 300px;
  line-height: 2;
}

//

footer {
  padding: $emptyMiddle;
  border: $border;

  display: flex;
  flex-direction: column;
  gap: $emptyMiddle;
}
